@import "/common.scss";

.container :global {
  justify-content: center;
  align-items: center;
  min-width: $xs-screens;
}

.nav {
  display: flex;
  justify-content: space-between;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.top {
  display: flex;
  justify-content: space-between;
}