@use "../common";
@use "../styles/content-header" as header;

.section {
  padding: 2rem 5%;
  background: #ffffff;
  font-family: "Parkinsans", sans-serif;
}

.contentHeader {
  @include header.content-header;
}

.contentTitle {
  @include header.content-title;
}

.contentSubtitle {
  @include header.content-subtitle;
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}
