@import "../common.scss";
@import "../styles/_content-header.scss";

.section {
  padding: 2rem 5%;
  background: #ffffff;
  font-family: "Parkinsans", sans-serif;
}

.contentHeader {
  @include content-header;
}

.contentTitle {
  @include content-title;
}

.contentSubtitle {
  @include content-subtitle;
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}
